@layer base {
  .dark {
    --background-100: #161a17;
    --background-200: #1e221f;
    --background-300: #242824;
    --background-400: #2a2f2a;
    --background-500: #373c38;

    --translucent-dark-100: #00000014;
    --translucent-dark-150: #00000029;
    --translucent-dark-200: #0000007a;
    --translucent-dark-300: #000000a3;

    --translucent-light-100: #ffffff0a;
    --translucent-light-150: #ffffff29;
    --translucent-light-200: #ffffff7a;
    --translucent-light-300: #ffffffa3;

    --spacer-100: #0f1410;

    --foreground: #ffffff;
    --foreground-100: #ffffff;
    --foreground-200: #9c9c9c;
    --foreground-300: #808080;
    --foreground-400: #505050;
  }
}
