@font-face {
  font-family: "LD Mono";
  src: url("/fonts/LD-Mono/LD_Mono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LD Mono";
  src: url("/fonts/LD-Mono/LD_Mono-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LD Mono";
  src: url("/fonts/LD-Mono/LD_Mono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LD Mono";
  src: url("/fonts/LD-Mono/LD_Mono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
