@import "@cartridge/ui-next/themes/default.css";
@import "@cartridge/ui-next/themes/dark.css";
@import "@cartridge/ui-next/themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

html,
body {
  background: hsl(var(--background));
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
