@import "@cartridge/ui-next/themes/default.css";
@import "@cartridge/ui-next/themes/dark.css";
@import "@cartridge/ui-next/themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-background text-foreground ring-foreground;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
