/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Color Variables */
  --ifm-color-primary: rgb(255, 255, 255);
  --ifm-menu-color: rgb(255, 255, 255);
  --ifm-color-content-secondary: rgb(255, 255, 255);
  --ifm-toc-link-color: rgb(255, 255, 255);
  --ifm-code-background: rgb(93, 93, 93);
  --ifm-color-primary-dark: rgb(232, 55, 69);
  --ifm-background-color: rgb(26, 28, 27);
  --ifm-font-color-base: rgb(255, 255, 255);
  --ifm-color-primary-hover: rgb(255, 197, 42);

  /* Font Variables */
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-monospace: 'Fragment Mono', monospace;

  /* Other Variables */
  --ifm-navbar-background-color: rgb(26, 28, 27);
  --ifm-navbar-link-color: rgb(255, 255, 255);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-breadcrumbs {
  display: none;
}

body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
}

/* Navbar Styling */
.navbar {
  background-color: var(--ifm-navbar-background-color);
}
.navbar__link {
  color: var(--ifm-navbar-link-color);
}
.navbar__link:hover {
  color: var(--ifm-color-primary-hover);
}
.menu__link--active {
  font-weight: 800;
}
.menu__link:hover {
  color: var(--ifm-color-primary-hover);
}
.navbar__logo img {
  content: url('/img/logo.svg');
  padding: 5px;
}

/* Footer Styling */
.footer {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PP NeueBit Bold', sans-serif;
  color: var(--ifm-font-color-base);
}
p {
  font-family: var(--ifm-font-family-base);
}

/* Code Blocks */
.prism-code {
  background-color: rgb(36, 39, 43);
  font-family: var(--ifm-font-family-monospace);
}

/* Additional Custom Styles */
/* Copy over styles from your main site's CSS */
