@layer base {
  .dark {
    --background: 135 8% 9%;
    --background-100: 135 6% 13%;
    --background-200: 120 5% 15%;
    --background-300: 120 6% 17%;

    --foreground: 0 0% 100%;

    --primary: 44 96% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 120 57% 78%;

    --muted: 132 8% 24%;
    --muted-foreground: 0 0% 50%;

    --accent: 132 4% 23%;
    --accent-foreground: 0 0% 61%;

    --spacer: 132 14% 7%;
  }
}
