@layer base {
  :root {
    --background: 220 60% 99%;
    --foreground: 0 0% 0%;

    --background-100: 210 22% 96%;

    --primary: 255 73% 61%;
    --primary-foreground: 220 60% 99%;

    --tertiary: 255 73% 61%;
    --tertiary-foreground: 220 60% 99%;

    --quaternary: 210 2.48% 94.9%; /* bg.secondary */
    --quinary: 214 3% 91%; /* bg.tertiary */

    --muted: 207 15% 85%;
    --muted-foreground: 0 0% 50%;

    --accent: 207 15% 85%;
    --accent-foreground: 132 6% 30%;

    --destructive: 0 72% 65%;
    --destructive-foreground: 0 72% 65%;

    --border: 220 60% 99%;
    --input: 210 2.48% 94.9%; /* bg.secondary */
    --spacer: 0 0% 0%; /* solid-fills/spacer */

    --radius: 0.5rem;
  }
}
