@layer base {
  :root {
    --background: 220 60% 99%;
    --background-100: 210 22% 96%;
    --background-200: 210 2.48% 94.9%;
    --background-300: 214 3% 91%;

    --foreground: 0 0% 0%;

    --primary: 255 73% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 73% 61%;

    --muted: 207 15% 85%;
    --muted-foreground: 0 0% 50%;

    --accent: 207 15% 85%;
    --accent-foreground: 132 6% 30%;

    --destructive: 0 72% 65%;
    --destructive-foreground: 0 72% 65%;

    --spacer: 0 0% 0%;

    --radius: 0.5rem;
  }
}
