@layer base {
  :root {
    --background-100: #161A17;
    --background-200: #1E221F;
    --background-300: #242824;
    --background-400: #2A2F2A;
    --background-500: #373C38;

    --translucent-100: #00000014;
    --translucent-200: #0000007A;
    --translucent-300: #000000A3;

    --spacer-100: #0F1410;
    
    --foreground-100: #FFFFFF;
    --foreground-200: #9C9C9C;
    --foreground-300: #808080;
    --foreground-400: #505050;

    --primary-100: #FBCB4A;
    --primary-200: #CCA63E;

    --secondary-100: #A7E7A7;

    --destructive-100: #E66666;

    --constructive-100: #0EAD69;

    /* TODO: Should not be used */

    --muted: 207 15% 85%;
    --muted-foreground: 0 0% 50%;

    --accent: 207 15% 85%;
    --accent-foreground: 132 6% 30%;

    --radius: 0.5rem;
  }
}
