@layer base {
  :root {
    --background-100: #161a17;
    --background-125: #181c19;
    --background-150: #1a1e1b;
    --background-200: #1e221f;
    --background-300: #242824;
    --background-400: #2a2f2a;
    --background-500: #373c38;

    --translucent-100: #00000014;
    --translucent-200: #0000007a;
    --translucent-300: #000000a3;
    --translucent-500: #ffffff52;
    --translucent-600: #ffffff7a;

    --spacer-100: #0f1410;

    --foreground-100: #ffffff;
    --foreground-200: #9c9c9c;
    --foreground-300: #808080;
    --foreground-400: #505050;

    --primary-100: #fbcb4a;
    --primary-200: #cca63e;

    --primary-foreground-100: #0f1410;

    --secondary-100: #a7e7a7;

    --destructive-100: #e66666;

    --constructive-100: #6de27c;

    --radius: 0.5rem;
  }
}
