[package]
name = "tokens"
version = "0.1.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet.workspace = true
openzeppelin.workspace = true
graffiti.workspace = true
alexandria_encoding.workspace = true

[[target.starknet-contract]]
sierra = true
casm = true
casm-add-pythonic-hints = true