@import "./themes/default.css";
@import "./themes/dark.css";
@import "./themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border font-sans;
  }

  body {
    @apply bg-background text-foreground ring-foreground;
  }

  a {
    @apply focus-visible:ring-foreground;
  }
}
