name: release

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  publish:
    if:
      (github.event.pull_request.merged == true &&
      github.event.pull_request.head.ref == 'prepare-release') ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org/"

      - uses: pnpm/action-setup@v4
      - run: pnpm install

      - name: Publish to npm
        run: |
          VERSION=$(pnpm --filter @cartridge/controller --silent version | tr -d '"')
          if [[ $VERSION == *-* ]]; then
            pnpm publish --tag prerelease
          else
            pnpm publish
          fi

        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
